{% extends 'base.html.twig' %}

{% block title %}Mon espace personnel
{% endblock %}

{% block content %}
	<main class="mainPersoContainer container-fluid">
		<section class="sectionContainerLeft">
			<div class="mainSectionContainerLeft">
				<div class="titleContainerLeft">
					<h1 class="titleLeft">
						Bienvenue dans votre espace client</h1>
					<hr>
					<p class="accountNamed">
						Cet espace appartient à
						<b>{{app.User.firstname}} {{app.User.lastname}}</b>
					</p>
					<p class="description">Ici vous pouvez consulter vos informations personnelles, réserver une table en mode VIP consulter vos dernières réservations.</p>
					<hr>
					<h2>Vos informations personnelles</h2>
					<br>
					<p class="description">Vous pouvez modifier vos informations personnelles directement en utilisant les champs ci-dessous. Ces informations seront pris en compte lors de vos prochaines réservations.</p>
				</div>
				{{ form_start(form) }}
				<div class="FormContainerLeft row-cols-5">
					<div class="form-group mb-3">
						{{ form_label(form.Firstname) }}
						{{ form_widget(form.Firstname) }}
						{{ form_errors(form.Firstname) }}
					</div>
					<div class="form-group mb-3">
						{{ form_label(form.Lastname) }}
						{{ form_widget(form.Lastname) }}
						{{ form_errors(form.Lastname) }}
					</div>
					<div class="form-group mb-3">
						{{ form_label(form.phone_number) }}
						{{ form_widget(form.phone_number) }}
						{{ form_errors(form.phone_number) }}
					</div>
				</div>
				<div class="FormContainerRight row-cols-5">
					<div class="form-group mb-3">
						{{ form_label(form.guestsNumber) }}
						{{ form_widget(form.guestsNumber, {'attr': {'class': 'form-control'}}) }}
						{{ form_errors(form.guestsNumber) }}
					</div>
					<div class="form-group mb-3">
						{{ form_label(form.allergie) }}
						{{ form_widget(form.allergie, {'attr': {'class': 'form-control','style': 'resize:none;'}}) }}
					</div>
					<div class="form-group mb-3"></div>
				</div>
				<hr>
				<h2>Vos dernières réservations</h2>
				<br>
				<table class="tableReservation">
					<thead>
						<tr>
							<th class="th">Date de réservation</th>
							<th class="th">Horaire</th>
							<th class="th">Nombre de couverts</th>
						</tr>
					</thead>
					<tbody>
						{% for userReservation in userReservation %}
							<tr>
								<td class="td">
									{{ userReservation.date|date('m/d/Y', 'Europe/Paris') }}
								</td>

								<td class="td">{{ userReservation.heure|date('h:i', 'Europe/Paris') }}</td>
								<td class="td">{{ userReservation.guestsNumber }}</td>
							</tr>
							{# {{ dump(userReservation) }} #}
						{% endfor %}
					</tbody>
				</table>
			</div>
		</section>
		<section class="sectionContainerRight">
			<div class="form-group text-center reservationAvailabilityAccountCard">
				<div class="titleContaineRight">
					<h2 class="titleLeft">Réservez une table maintenant</h2>
				</div>
				<hr>
				<div class="reservationFormContainer">
					<div class="form-group mb-3">
						{{ form_label(form.date) }}
						{{ form_widget(form.date) }}
						{{ form_errors(form.date) }}
					</div>
					<div class="form-group mb-3">
						{{ form_label(form.heure) }}
						{{ form_widget(form.heure) }}
						{{ form_errors(form.heure) }}
					</div>
				</div>
				<div>
					<div class="form-group mb-3">
						<button type="submit" class="btn btn-primary px-4">Réserver</button>
					</div>
				</div>

								<hr>
				{{ form_end(form) }}
			</div>
			<div class="form-group text-center dinerAvailability">
				<h3>Nos disponibilités pour le dîner</h3>
				<div class="availability-slots">
					<div id="time-slots" class="mt-3"></div>
				</div>
			</div>
			<hr>
			<div class="form-group text-center lunchAvailability">
				<h3>Nos disponibilités pour le déjeuner</h3>
				<div class="availability-slots">
					<div id="time-slots2" class="mt-3"></div>
				</div>
			</div>
			<hr>
			<div class="form-group text-center legendAndInfo">
				<div class="legendGreen">
					<div class="legendGreenCub"></div>
					<div class="legendGreenText">Créneaux horaires encore disponibles.</div>
				</div>
				<br>
				<div class="legendRed">
					<div class="legendRedCub"></div>
					<div class="legendRedText">Créneaux horaires non disponibles.</div>
				</div>
				<hr>
				<p class="info">Vous pouvez réserver pour 12 personnes maximum, au delàs, merci de nous contacter au
					<b>06 66 66 66 66</b>
				</p>
			</div>
		</section>
	</main>
{% endblock %}
