{% extends 'base.html.twig' %}

{% block title %}Réservez une table !
{% endblock %}
{% block content %}
	<main class="main_container container-fluid">
		<section class="logoLeft">
		</section>
		<section class="cardMiddle">
			<div class="card schudeleContainer">
								<div class="logoQAw">
						<img src="{{ asset('assets/img/logoQAnavBlack.png') }}" alt="" class="logoQAw">
					</div>
				<div class="">
					<h1 class="text-center"><b>Réservez une table !</b></h1>
				</div>
				<div class="card-body">
					{{ form_start(form) }}
					<div class="form-group mb-3">
						{{ form_label(form.Lastname) }}
						{{ form_widget(form.Lastname) }}
						{{ form_errors(form.Lastname) }}
					</div>

					<div class="form-group mb-3">
						{{ form_label(form.Firstname) }}
						{{ form_widget(form.Firstname) }}
						{{ form_errors(form.Firstname) }}
					</div>

					<div class="form-group mb-3">
						{{ form_label(form.phone_number) }}
						{{ form_widget(form.phone_number) }}
						{{ form_errors(form.phone_number) }}
					</div>
					<div class="form-group mb-3">
						{{ form_label(form.guestsNumber) }}
						{{ form_widget(form.guestsNumber)}}
						{{ form_errors(form.guestsNumber) }}
					</div>
					<div class="form-group mb-3">
						{{ form_label(form.date) }}
						{{ form_widget(form.date) }}
						{{ form_errors(form.date) }}

					</div>
					<div class="form-group mb-3">
						{{ form_label(form.heure) }}
						{{ form_widget(form.heure) }}
						{{ form_errors(form.date) }}
					</div>
					<div class="form-group mb-3">
						{{ form_label(form.allergie) }}
						{{ form_widget(form.allergie) }}
					</div>
					<div class="form-group mb-3 d-flex justify-content-center">
						<button type="submit" class="btn btn-primary px-4">Réserver</button>
					</div>
					{{ form_end(form) }}
				</div>
			</div>
		</section>
		<section class="availabilityRight">
			<div class="card-body reservationAvailabilityCard">
				<div class="form-group text-center dinerAvailability">
					<h5 class=""><b>~ Nos disponibilités pour le dîner * ~</b></h5>
					<div class="availability-slots">
						<div id="time-slots" class="mt-3"></div>
					</div>
				</div>
				<hr>
				<div class="form-group text-center lunchAvailability">
					<h5 class=""><b>~ Nos disponibilités pour le déjeuner * ~</b></h5>
					<div class="availability-slots">
						<div id="time-slots2" class="mt-3"></div>
					</div>
				</div>
				<hr>
				<div class="form-group text-center legendAndInfo">
					<div class="legendGreen">
						<div class="legendGreenCub"></div>
						<div class="legendGreenText">Créneaux horaires encore disponibles.</div>
					</div>
					<div class="legendRed">
						<div class="legendRedCub"></div>
						<div class="legendRedText">Créneaux horaires non disponibles.</div>
					</div>
					<hr>
					{% for restaurant in restaurant %}
					<p class="info">Pour une réservation au delàs de 12 personnes, merci de nous contacter :</p><p> par téléphone au <b>{{ restaurant.phoneNumber }}.</b></p><p> ou par e-mail à <email><b>{{ restaurant.email }}.</b></email>
					</p>
					<p><em> * Notre salle contient {{ restaurant.maxSeats }} couverts maximum.</em></p>
					{% endfor %}
				</div>
			</section>
		</main>
	{% endblock %}
