{% extends 'base.html.twig' %}

{% block title %}Carte du restaurant
{% endblock %}
{% block content %}
	<main class="main_container container-fluid">
		<div class="logoQAw">
			<img src="{{ asset('assets/img/logoQAw.png') }}" alt="" class="logoQAw">
		</div>
		<div class="carteSection">
			<div id="titleMenu" class="col col-lg-6 col-sm-12 col-md-7 flexCol">
				<div class="groupTitleBtn">
					<h1 class="headline" style="text-align: left;">
						<b>~ Le Quai Antique ~</b>
					</h1>
					<h2 class="headline">À la carte !</h2>
					<a class="scheduleButton btn btn-primary" href="{{ path('app_reservation') }}" title="" role="button">
						<span>Réservez une table</span>
					</a>
				</div>
			</div>
		</div>
	</main>
	<section class="restaurantCardSection container-fluid">
		<div class="card bg-transparent">
			<div class="card-body">
				<div class="card-header">
					<h2 class="MainCardTitle">~ LE QUAI ANTIQUE ~ À LA CARTE</h2>
					<hr>
					<h2 class="subtitleMainCard">~ À TABLE ! ~</h2>
					<hr>
					<div class="card-body mainMenu">
						<div class="card bg-transparent starterCaps">
							<div class="card-body starterCard">
								<div class="card-header">
									<h3 class="StarterTitle">NOS ENTRÉES</h3>
									<div class="card-body starterList">
										{% if starters is empty %}
											<p class="noEntry">Aucune entrée n'a été trouvée.</p>
										{% else %}
											<div class="">
												{% for starters in starters %}
													<div class="list-group-item">
														<div class="name">~
															{{ starters.title }}</div>
														<div class="arrow">
															<span></span>
														</div>
														<div class="price">
															{{ starters.price }}
															€
															<div class="TTC">TTC</div>
														</div>
													</div>
													<div class="desc">{{ starters.description }}</div>
												{% endfor %}
											</div>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
						<div class="card bg-transparent starterCaps">
							<div class="card-body starterCard">
								<div class="card-header">
									<h3 class="StarterTitle">NOS PLATS</h3>
									<div class="card-body starterList">
										{% if dish is empty %}
											<p class="noEntry">Aucun plat n'a été trouvée.</p>
										{% else %}
											<div class="">
												{% for dish in dish %}
													<div class="list-group-item">
														<div class="name">~
															{{ dish.title }}</div>
														<div class="arrow">
															<span></span>
														</div>
														<div class="price">
															{{ dish.price }}
															€
															<div class="TTC">TTC</div>
														</div>
													</div>
													<div class="desc">{{ dish.description }}</div>
												{% endfor %}
											</div>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
						<div class="card bg-transparent starterCaps">
							<div class="card-body starterCard">
								<div class="card-header">
									<h3 class="StarterTitle">NOS DESSERTS</h3>
									<div class="card-body starterList">
										{% if setMenu is empty %}
											<p class="noEntry">Aucun dessert n'a été trouvée.</p>
										{% else %}
											<div class="">
												{% for dessert in dessert %}
													<div class="list-group-item">
														<div class="name">~
															{{ dessert.name }}</div>
														<div class="arrow">
															<span></span>
														</div>
														<div class="price">
															{{ dessert.price }}
															€
															<div class="TTC">TTC</div>
														</div>
													</div>
													<div class="desc">{{ dessert.description }}</div>
												{% endfor %}
											</div>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
						<div class="card bg-transparent starterCaps">
							<div class="card-body starterCard">
								<div class="card-header">
									<h3 class="StarterTitle">NOS BOISSONS</h3>
									<div class="card-body starterList">
										{% if setMenu is empty %}
											<p class="noEntry">Aucune boisson n'a été trouvée.</p>
										{% else %}
											<div class="">
												{% for drink in drink %}
													<div class="list-group-item">
														<div class="name">~
															{{ drink.brand }}</div>
														<div class="arrow">
															<span></span>
														</div>
														<div class="price">
															{{ drink.price }}
															€
															<div class="TTC">TTC</div>
														</div>
													</div>
												{% endfor %}
											</div>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
